@model ReversiMvcApp.Models.Spel

@{
    ViewData["Title"] = "Details";
}

<head>
    <meta charset="UTF-8">
    <title>Javascript getting started</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <!-- link afkomstig van https://cdnjs.com/libraries/jquery/ -->

    <script src="~/js/vendor.js"></script>
    <script src="~/js/templates.js"></script>
    <script src="~/js/app.js"></script>
    <script src="https://kit.fontawesome.com/7a5c6938c3.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="~/css/style.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

    <section id="feedback" class="alert alert-success fadeIn" style="display: none;" role="alert">
        <div class="textColorGray leftDiv">
            <i class="fas fa-check fa-2x iconVisable"></i>
            <p id="feedbackText" class="textSize"></p>
        </div>
    </section>


    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div id="huidigeSpeler" class="inline"></div>
            </div>
            <div class="col-12 col-lg-7">
                <div id="spelBord"></div>
            </div>
            <div class="col-12 col-lg-5">
                <div id="speler1"></div>
                <div id="speler2"></div>
                <div id="buttons">
                    <button id="buttonpas" class="pas-btn" type="button">Beurt overslaan</button>
                    <button id="buttonopgeven" class="opgeven-btn" type="button">Opgeven</button>
                    <div id="chart" style="position: relative; height: 300px; width: 600px;"></div>
                </div>
            </div>
            <div class="col-12">
                <div id="api"></div>
            </div>
        </div>
    </div>


    <script>
        $(function () {
            Game.init("@Model.Token", "@Model.CurrentUser", 'https://localhost:44346/');
        })
    </script>



</body>
